/.vs/
/Saved/
/Build/
/DerivedDataCache/
/Binaries/
/Intermediate/
/**/Binaries/
/**/Intermediate/
CDemo.sln
/Content/ModernCityEnvironment01/
/Content/GiantMonsterAnimset/
/Content/Mannequin/
/Content/ThirdPersonBP/
/Content/ThirdPerson/